/* styles.css */
/* This is for my index page and contact specifically */
/* Davery Valdez Feb 2024 */

/* Responsive Design */
@media screen and (max-width: 600px) {

    /* Add styles for smaller screens */
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

}

/* Reset default styles for body */
body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    text-align: center;
    padding: 0;
}

/* Header styles */
header {
    background: linear-gradient(to right, #6959b6, #daa551);
    color: #fff;
    padding: 10px 0;
}

/* Header 1 styles */
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    color: #6959b6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    /* Reduced margin */
    margin-bottom: 10px;
    /* Reduced margin */
}

/* Image style for index */
img {
    border-radius: 50%;
    /* Rounded corners for circular image */
    margin-top: 10px;
    /* Reduced margin */
    margin-bottom: 10px;
    /* Reduced margin */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Paragraph styles */
p {
    font-size: 18px;
    line-height: 1.5;
    margin: 5px 0;
}

/* Italics styles */
i {
    font-style: italic;
}

/* Link styles */
a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6959b6;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    /* Reduced margin */
    margin-bottom: 10px;
    /* Reduced margin */
}

/* Footer styles */
footer {
    margin-top: 10px;
    /* Reduced margin */
    padding: 10px;
    background: linear-gradient(to right, #6959b6, #daa551);
    color: #fff;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: center;
}

/* Hover effect for navigation links */
nav a:hover {
    background-color: #fff;
    color: #333;
}

/* Style the dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #333;
    padding: 10px;
    display: block;
    text-decoration: none;
}

ul li a:hover {
    color: #000000;
}

/* Style for the phone number */
p a:hover {
    color: #000000;
}

/* Style for the email addresses */
.email-link:hover {
    color: #000000;
    text-decoration: underline;
    /* Add an underline effect on hover */
}

/* Add styles for additional images */
.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* column width */
    grid-gap: 10px;
    /* gap between images */
    justify-content: center;
    margin: 0 auto;
    /* Center the container horizontally */
    max-width: 1000px;
    /* Set a maximum width for the container */
}

.image-container img {
    max-width: 90%;
    height: auto;
}

/* Adjust the position of the third image in index page */
.image-container img:nth-child(3) {
    align-self: center;
    /* Move the third image to the center of the container */
}

/* Modify the shape and size of the image in contact page */
.image-container2 img {
    width: 400px;
    border-radius: 20%;
    /* Rounded corners for circular image */
    margin-top: 10px;
    /* Reduced margin */
    margin-bottom: 10px;
    /* Reduced margin */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* dark mode button */
.dark {
    background-color: #333;
    color: #fff;
}

#theme-toggle {
    padding: 10px 20px;
    /* Adjust padding */
    font-size: 16px;
    /* Adjust font size */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6959b6;
    color: #000000;
    margin-top: 25px;
    /* Add margin to create space */
    font-family: 'Times New Roman', sans-serif;
}

#theme-toggle:hover {
    background-color: #ffffff;
}